.sidebar {
	padding: 32px;

	img {
		box-shadow: 0 1px 32px rgba( 20, 23, 26, 0.12 );
	}

	figcaption {
		margin-top: 32px;
		font-size: 48px;
		font-weight: 600;
		line-height: 1;

		small {
			font-size: 32px;
			font-weight: inherit;
		}
	}

	.main-menu {
		li {
			border-bottom: 1px solid #fff;
			padding: 15px 0;
			transition: .3s ease-out;

			a {
				@include text-link--large;
				transition: inherit;

				i {
					margin: 0 12px 0 18px;
				}
			}

		}
	}
}